<div class="container">
  <div class="row">
    <div class="col col-sm-4 col-sm-offset-4">
      <%= simple_form_for(@reviews) do |f| %>
        <%= f.input :content %>
        <%= f.input :rating %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
